# Remove that .example from the filename after you have finished
# setting your own configuration.

title = 'Boribay bot configuration.'

[bot]  # The bot configuration.
exts = [  # I had to hardcode extensions, sorry for that...
    'boribay.extensions.help',
    'boribay.extensions.economy',
    'boribay.extensions.fun',
    'boribay.extensions.images',
    'boribay.extensions.misc',
    'boribay.extensions.moderation',
    'boribay.extensions.settings',
    'boribay.extensions.useful'
]
beta = false  # Whether to enable the beta mode.
errors_channel =  # Put the channel ID where you'd like to log all errors.
token = 'Put your token here.'

[database]  # Database credentials to be able to log with.
user = 'postgres'  # But I'm sure you have a different username
password = 'youshallnotpass!!'
host = 'localhost'
database = 'Boribay'  # More likely to create a database with that name.

[links]  # All links you need to use.
log_url = 'Your webhook URL to log guilds.'
invite_url = 'https://discord.com/api/oauth2/authorize?client_id=735397931355471893&permissions=8&scope=bot'
github_url = 'https://github.com/Dositan/Boribay/'
support_url = 'https://discord.gg/ZAzTFTCerM/'
topgg_url = 'https://top.gg/bot/735397931355471893#/'

[API]
weather = 'Token for http://api.openweathermap.org/.'
dagpi = 'Token for https://beta.dagpi.xyz/'
alex = 'Token for https://api.alexflipnote.dev/'
