{% extends "layout.html" %}
{% block content %}
<body>
    <div class="banner">
        <div class="content">
            <h1>Use Boribay on your server!</h1>
            <p>A multi-purpose bot that has lots of categories and features.</p>
            <a href="{{ stats['invite'] }}" class="main_button">Invite Now</a>
        </div>
    </div>

    <div class="topic">
        <h2>Statistics</h2>
    </div>

    <div class="inner-width" style="margin-bottom: 80px;">
        <div class="column">
            <icon class="fas fa-server"></icon>
            </br>{{ stats['guild_count'] }}</br> servers
        </div>

        <div class="column">
            <icon class="fas fa-rocket"></icon>
            </br>{{ stats['command_count'] }}</br> commands
        </div>

        <div class="column">
            <icon class="far fa-chart-line"></icon>
            </br>{{ stats['command_usage'] }}</br> usage
        </div>
    </div>
</body>
{% endblock content %}
